<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div id="people" class="row"></div>

		<div id="events" class="row"></div>
	</div>
	
</body>

<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>

<script type="text/template" id="personCardTemplate">
	<article class="teacher-classic-item filter-char-T panel panel-default col-sm-3">
		<div class="inner k2t-element-hover panel-body">
			<a href="http://w17.open.co.za/k-teacher/<%= id %>/" title="<%= name %>">
				<img width="200" src="https://my.open.co.za/image/resize/<%= encodeURIComponent(img) %>/200/200" class="img-circle attachment-thumb_500x500 size-thumb_500x500 wp-post-image" alt="<%= name %>">
			</a>
			<h4 class="title">
				<a href="http://w17.open.co.za/k-teacher/<%= id %>/" title="Trenton Devine"><%= name %></a>
			</h4>
			<span class="position"><%= position %></span>
			<p class="excerpt"><%= about %></p>
		</div>
	</article>
</script>

<script type="text/template" id="eventCardTemplate">
	<article class="panel panel-default col-sm-3">
		<div class="panel-body">
			<a href="http://w17.open.co.za/k-event/<%= id %>/" title="<%= title %>">
				<img width="200" src="https://my.open.co.za/<%= img %>" class="img-square attachment-thumb_500x500 size-thumb_500x500 wp-post-image" alt="<%= title %>">
			</a>
			<h4 class="title">
				<a href="http://w17.open.co.za/k-teacher/<%= id %>/"><%= title %></a>
			</h4>
			<dl>
				<dt>Start Time</dt>
				<dd><%= start_time %></dd>
				<dt>End Time</dt>
				<dd><%= end_time %></dd>
				<dt>Address</dt>
				<dd><%= address %></dd>
			</dl>
			<p class="excerpt"><%= description %></p>
		</div>
	</article>
</script>

<script>
	(function() {
		var personCardTemplate = _.template($("#personCardTemplate").html());
		$.get("http://localhost:3006/user/random/4")
		.then(function(result) {
			for(var x = 0; x < result.data.length; x++) {
				var person = result.data[x];
				$("#people").append(personCardTemplate(person));
			}
		});

		var eventCardTemplate = _.template($("#eventCardTemplate").html());
		$.get("http://localhost:3006/event")
		.then(function(result) {
			console.log(result);
			for(var x = 0; x < result.data.length; x++) {
				var event = result.data[x];
				$("#events").append(eventCardTemplate(event));
			}
		});
	})();
</script>
</html>